body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#tudo {
    background-color: #b7e1b9;
    width: 950px;
    margin: 0px auto 0px auto;
    border-left: 5px solid #c6e163;
    border-right: 5px solid #c6e163;
}

.field {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 400px;
}

#submit {
    margin-left: 30px;
    padding-bottom: 10px;
}

h1 {
    margin-left: 30px;
}

#site {
    margin-left: 30px;
}

.errorlist {
    color: red;
}
