<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <title>Inscrição Finalizada</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/estilo.css" />
</head>
<body>
  <div id="tudo">
    <img src="{{ MEDIA_URL }}/imagens/banner.png" alt="II Encontro Nacional dos Núcleos de Pesquisa aplicada em Pesca e Aquicultura " />
    <h1>Inscrição realizada com sucesso!</h1>
    <a id="site" href="http://www.pesca.iff.edu.br/encontro_nacional_pesca_aquicultura">Voltar a página principal</a>
</body>
</html>
